In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("..\data_given\city_aqi.csv")

In [6]:
df.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,23.178,126.112,0.92,18.22,17.15,10.294,0.92,27.64,133.36,0.00,0.02,0.00,122.4
1,24.736,123.518,0.97,15.69,16.46,10.366,0.97,24.55,34.06,3.68,5.50,3.77,124.2
2,121.276,161.864,17.40,19.30,29.70,8.950,17.40,29.07,30.70,6.80,16.40,2.25,363.6
3,40.686,159.470,1.70,18.48,17.97,12.088,1.70,18.59,36.08,4.43,10.14,1.00,136.6
4,156.074,215.888,22.10,21.42,37.76,9.036,22.10,39.33,39.31,7.01,18.89,2.78,384.6

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PM2.5,29531.0,66.865363,61.630369,0.04,30.888,51.52,75.872,949.99
PM10,29531.0,120.745207,82.150918,0.01,64.746,104.45,148.220,1000.00
NO,29531.0,17.349257,21.838399,0.02,6.110,10.32,18.510,390.68
NO2,29531.0,27.510244,23.339823,0.01,11.760,21.67,34.780,362.21
NOx,29531.0,35.533308,34.980235,0.00,14.210,26.58,42.705,467.63
NH3,29531.0,20.539628,21.915603,0.01,7.980,14.34,25.100,352.89
CO,29531.0,2.209381,6.722241,0.00,0.510,0.92,1.580,175.81
SO2,29531.0,15.170707,18.104311,0.01,5.870,9.73,15.175,193.86
O3,29531.0,33.499329,20.734048,0.01,18.860,30.79,43.163,257.73
Benzene,29531.0,2.872821,14.320266,0.00,0.020,0.86,3.110,455.03
Toluene,29531.0,6.860990,17.424695,0.00,0.000,1.79,8.120,454.85
Xylene,29531.0,1.566115,4.491075,0.00,0.000,0.06,1.288,170.37
AQI,29531.0,163.503239,132.613281,13.00,83.000,121.00,193.000,2049.00

In [15]:
overview=df.describe()

In [17]:
overview.loc[["min","max"]].to_json("schema_in.json")

In [ ]:
class NotInRange(Exception):
    def __init__(self,message="Value not in range"):
        self.messagae=message
        super().__init__(self.message)